* {
  font-family: Arial;
  margin: 0;
  padding: 0;
}
html,body,#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #DEDEDE;
  flex: 1;
}
.navbar {
  flex: auto 0 0;
  border-bottom: solid 1px #333;
  display: flex;
  flex-direction: row;
}
.navbar li {
  flex: 100px 0 1;
  list-style-type: none;
  padding: 0.5em 1em;
  cursor: pointer;
}
.navbar li:hover {
  background-color: #ABABAB;
}
.main-content {
  margin: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.measurement-list {
  border: solid 1px #333;
  flex: 1;
  overflow-y: auto;
}
.measurement-list li {
  border-bottom: solid 1px #888;
  list-style-type: none;
  padding: 0.5em 1em;
}
.measurement-list li:hover {
  background-color: #ABABAB;
}
.measurement-add {
  border: solid 1px #333;
  border-top: none;
  padding: 0.5em;
}
button, select, input {
  border: solid 1px #ABABAB;
  padding: 0.5em 1em;
}